# 00 - Training Data Stats

## Imports

In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
All_FP1_Birds = ["B145", "B236", "B258", "B385", "B402", "B447", 
             "B507", "G255", "G397", "G402", "G413", "G437", 
             "G439", "G524", "G528", "O144", "O254", "O421", 
             "O440", "O512", "R402", "R425", "R469", "S132", 
             "S421", "S525", "S528", "Y389", "Y397", "Y425", 
             "Y440", "B524", "O434", "S389", "Y433", "Y453"] 

#All_Birds should contain 36 bird IDs. Check: 
len(All_FP1_Birds)

36

In [4]:
all_birds_dir = "C:/Grad_School/Code_and_software/Py_code/Syll_specs_hand_seg_narrow_bandpass_70/"

Bird_ID = "G402"

In [5]:
pairs_df = pd.read_csv("C:/Grad_School/Code_and_software/Py_code/similarity_scoring/tut_pupil_pairs_April_2022.csv")

pairs_df = pairs_df[pairs_df.Include == 1]
pairs_df.head()

  Bird_ID Tutor_ID  Bird_Condition  Include
0    G402     O314  FP1KD_post_tut        1
1    R402     O314  FP1KD_post_tut        1
2    G555     O314        Baseline        1
3    R629     O314        Baseline        1
4    Y653     O314        Baseline        1

In [6]:
remaining_FP1_birds = set(All_FP1_Birds) - set(pairs_df.Bird_ID)
len(remaining_FP1_birds)

21

In [7]:
to_exclude = set(All_FP1_Birds) & set(pairs_df.Bird_ID)

In [8]:
FP1_pairs_df = pd.read_csv("C:/Grad_School/Code_and_software/Py_code/similarity_scoring/syllable_triplet_network/all_FP1_Tutor_pupil_pairs.csv")

training_pairs_df = FP1_pairs_df[FP1_pairs_df.Bird_ID.isin(remaining_FP1_birds)]

In [9]:
training_pairs_df

   Bird_ID    Tutor       Condition
0     B385      B01  FP1KD_post_tut
3     G437     O210  FP1KD_post_tut
4     G439     B103  FP1KD_post_tut
6     O440     B103  FP1KD_post_tut
8     R425     O314  FP1KD_post_tut
9     Y425     R311  FP1KD_post_tut
10    Y440     B103  FP1KD_post_tut
12    G397     G311   FP1KD_pre_tut
18    Y397     G311   FP1KD_pre_tut
19    B507     S409             GFP
20    B524     S409             GFP
21    G524     S409             GFP
24    O512     S409             GFP
29    B145  Isolate         Isolate
30    B236  Isolate         Isolate
31    B258  Isolate         Isolate
33    G255  Isolate         Isolate
34    O144  Isolate         Isolate
35    O254  Isolate         Isolate
37    S132  Isolate         Isolate
38    Y453  Isolate         Isolate

In [10]:
training_pairs_df.groupby('Condition').count()

                Bird_ID  Tutor
Condition
FP1KD_post_tut        7      7
FP1KD_pre_tut         2      2
GFP                   4      4
Isolate               8      8

## Total Syllable counts

In [11]:
len(glob.glob(all_birds_dir + "G255/*/*.npy"))

588

In [12]:
n_syll_dict = dict()
for Bird_ID in remaining_FP1_birds:

    n_syllables = len(glob.glob(all_birds_dir + Bird_ID + "/*/*.npy"))

    n_syll_dict[Bird_ID] = [n_syllables]

In [13]:
n_syll_df = pd.DataFrame.from_dict(n_syll_dict, orient = 'index').reset_index()
n_syll_df = n_syll_df.rename(columns = {'index' : 'Bird_ID', 
                                        0 : 'n_syllables'})

In [14]:
n_syll_df.sum()

Bird_ID        G439G437Y397Y425S132B524O512B258B507R425Y453O1...
n_syllables                                                16420
dtype: object

In [15]:
n_syll_df.n_syllables.mean()

781.9047619047619

## Testing Dataset Stats

In [16]:
tut_pup_dir = 'E:\\Final_Bird_Dataset\\Wseg_syll_spects_for_similarity\\'

In [17]:
pairs_df = pd.read_csv("C:/Grad_School/Code_and_software/Py_code/similarity_scoring/tut_pupil_pairs_April_2022.csv")

pairs_df = pairs_df[pairs_df.Include == 1]

In [18]:
pairs_df.shape

(36, 4)

In [19]:
len(pairs_df[~pairs_df.Bird_ID.isin(remaining_FP1_birds)])

36

All birds in pairs df are *not* also in the training set. It is a completely non-overlapping dataset.

In [20]:
pairs_df.groupby('Bird_Condition').count()

                Bird_ID  Tutor_ID  Include
Bird_Condition
Baseline             21        21       21
FP1KD_post_tut        3         3        3
FP1KD_pre_tut         6         6        6
GFP                   6         6        6

In [21]:
n_syll_dict = dict()
for Bird_ID in pairs_df.Bird_ID:

    n_syllables = len(glob.glob(tut_pup_dir + Bird_ID + "/*.npy"))

    n_syll_dict[Bird_ID] = [n_syllables]

In [22]:
n_syll_df = pd.DataFrame.from_dict(n_syll_dict, orient = 'index').reset_index()
n_syll_df = n_syll_df.rename(columns = {'index' : 'Bird_ID', 
                                        0 : 'n_syllables'})

In [23]:
n_syll_df.sum()

Bird_ID        G402R402G555R629Y653G587B555O510B447S389Y389O4...
n_syllables                                               105853
dtype: object

In [24]:
n_syll_df.n_syllables.mean()

2940.3611111111113